@page
@model IndexModel
@{
    ViewData["Title"] = "Area";
}

<div class="css-dic w-100 d-flex flex-column align-items-center position-relative mb-5">
    <div class="css-di1 w-100 mt-5 align-items-center">
        <h1 class="w-100 text-wrap css-hti m-0 h-100 text-center fade-item">Browse everything.</h1>
    </div>

    <div class="css-di2 rounded-5 z-0 fade-item position-relative">
        <div class="css-dit fade-item rounded-5 z-0">
            <div class="css-ditc z-0">
                <div class="css-ditci d-flex justify-content-center align-items-center">
                    <div class="bg-black rounded-circle">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="w-100 d-flex justify-content-start z-1 mb-4 fade-item">
    <div class="pb-3 z-1" style="width: 90%; max-width: 1580px;">
        <label class="fs-6 text-dark-emphasis z-1">Trusted by:</label>
    </div>
</div>

<div class="css-cont1 container text-center z-1 mb-5 fade-item">
    <div class="row row-cols-1 row-cols-sm-3 row-cols-md-4 row-cols-lg-6 css-grid1 g-4 z-1 d-flex justify-content-center">
        <div class="css-col1 col z-1">
            <img class="img-fluid" src="/media/icons/img1.png" alt="logo" />
        </div>
        <div class="css-col1 col z-1">
            <img class="img-fluid" src="/media/icons/img2.png" alt="logo" />
        </div>
        <div class="css-col1 col z-1">
            <img class="img-fluid" src="/media/icons/img3.png" alt="logo" />
        </div>
        <div class="css-col1 col z-1">
            <img class="img-fluid" src="/media/icons/img4.png" alt="logo" />
        </div>
        <div class="css-col1 col z-1">
            <img class="img-fluid" src="/media/icons/img5.png" alt="logo" />
        </div>
        <div class="css-col1 col z-1">
            <img class="img-fluid" src="/media/icons/img3.png" alt="logo" />
        </div>
    </div>

</div>

<hr id="benefits" class="mt-5 css-hrbgc mb-6" />

<div class="w-100 d-flex justify-content-start fade-item">
    <div class="pb-3 " style="width: 90%; max-width: 1580px;">
        <label class="fs-6 text-dark-emphasis">Benefits</label>
    </div>
</div>
<section class="mb-6 ">
    <div class="d-flex flex-column justify-content-around fade-item" style="height: 180px;">
        <div>
            <h1 class="fw-semibolder" style="font-size: clamp(3rem, 4vw, 4.4rem);">We’ve cracked the code.</h1>
        </div>
        <div>
            <label>Area provides real insights, without the data overlord.</label>
        </div>
    </div>
</section>

<hr class="mt-5 css-hrbgc mb-6" style="max-width: 1500px;" />

<section class="mb-7">
    <div class="container css-cont2 m-0 z-1">
        <div class="row css-grid2 row-cols-1 row-cols-sm-2 row-cols-lg-4 g-5 m-0">
            <div class="css-col2 col z-1 d-flex flex-column justify-content-around">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-bezier2" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 2.5A1.5 1.5 0 0 1 2.5 1h1A1.5 1.5 0 0 1 5 2.5h4.134a1 1 0 1 1 0 1h-2.01q.269.27.484.605C8.246 5.097 8.5 6.459 8.5 8c0 1.993.257 3.092.713 3.7.356.476.895.721 1.787.784A1.5 1.5 0 0 1 12.5 11h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5H6.866a1 1 0 1 1 0-1h1.711a3 3 0 0 1-.165-.2C7.743 11.407 7.5 10.007 7.5 8c0-1.46-.246-2.597-.733-3.355-.39-.605-.952-1-1.767-1.112A1.5 1.5 0 0 1 3.5 5h-1A1.5 1.5 0 0 1 1 3.5zM2.5 2a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm10 10a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5z" />
                    </svg>
                </div>
                <h1 class="fs-5">Amplify Insights</h1>
                <p class="text-wrap">
                    Unlock data-driven decisions with comprehensive analytics, revealing key opportunities for strategic regional growth.
                </p>
            </div>
            <div class="css-col2 col z-1 d-flex flex-column justify-content-around">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-globe-americas" viewBox="0 0 16 16">
                        <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0M2.04 4.326c.325 1.329 2.532 2.54 3.717 3.19.48.263.793.434.743.484q-.121.12-.242.234c-.416.396-.787.749-.758 1.266.035.634.618.824 1.214 1.017.577.188 1.168.38 1.286.983.082.417-.075.988-.22 1.52-.215.782-.406 1.48.22 1.48 1.5-.5 3.798-3.186 4-5 .138-1.243-2-2-3.5-2.5-.478-.16-.755.081-.99.284-.172.15-.322.279-.51.216-.445-.148-2.5-2-1.5-2.5.78-.39.952-.171 1.227.182.078.099.163.208.273.318.609.304.662-.132.723-.633.039-.322.081-.671.277-.867.434-.434 1.265-.791 2.028-1.12.712-.306 1.365-.587 1.579-.88A7 7 0 1 1 2.04 4.327Z" />
                    </svg>
                </div>
                <h1 class="fs-5">Control Your Global Presence</h1>
                <p class="text-wrap">
                    Manage and track satellite offices, ensuring consistent performance and streamlined operations everywhere.
                </p>
            </div>
            <div class="css-col2 col z-1 d-flex flex-column justify-content-around">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                    </svg>
                </div>
                <h1 class="fs-5">Remove Language Barriers</h1>
                <p class="text-wrap">
                    Adapt to diverse markets with built-in localization for clear communication and enhanced user experience.
                </p>
            </div>
            <div class="css-col2 col z-1 d-flex flex-column justify-content-around">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-graph-up" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M0 0h1v15h15v1H0zm14.817 3.113a.5.5 0 0 1 .07.704l-4.5 5.5a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61 4.15-5.073a.5.5 0 0 1 .704-.07" />
                    </svg>
                </div>
                <h1 class="fs-5">Visualize Growth</h1>
                <p class="text-wrap">
                    Generate precise, visually compelling reports that illustrate your growth trajectories across all regions.
                </p>
            </div>
        </div>
    </div>
</section>

<div class="w-100 mb-7">
    <div class="rounded-3 css-igbn1">
        <img class="img-fluid rounded-5" src="/media/banner/27594e92b9b432843319210cddc6514b6ee87450.jpg" alt="Montain" />
    </div>
</div>

<section class="mb-7">
    <div class="w-100">
        <hr class="m-0 css-hrbgc" style="width: 45%;" />
        <div class="d-flex css-cont3 ">
            <div class="css-coti1 d-flex flex-column mb-5" style="width: 50%;">
                <div>

                    <h1 class="fw-semibolder mb-5 fade-item" style="font-size: clamp(3rem, 4vw, 4.4rem);">See the Big Picture</h1>

                    <div>
                        <p class="fw-lighter fs-6 mb-5 fade-item">Area turns your data into clear, vibrant visuals that show you exactly what's happening in each region.</p>
                    </div>

                    <div class="d-flex flex-row w-100 gap-4 border-top align-items-center fade-item" style="height: 61px;">
                        <p class="m-0 fs-5 fw-lighter">01</p>
                        <p class="m-0 fw-semibold">Spot Trends in Seconds: No more digging through numbers. </p>
                    </div>
                    <div class="d-flex flex-row w-100 gap-4 border-top align-items-center fade-item" style="height: 55px;">
                        <p class="m-0 fs-5 fw-lighter">02</p>
                        <p class="m-0 fw-semibold">Get Everyone on the Same Page: Share easy-to-understand reports with your team. </p>
                    </div>
                    <div class="d-flex flex-row w-100 gap-4 border-top align-items-center fade-item" style="height: 55px;">
                        <p class="m-0 fs-5 fw-lighter">03</p>
                        <p class="m-0 fw-semibold">Make Presentations Pop: Interactive maps and dashboards keep your audience engaged.</p>
                    </div>
                    <div class="d-flex flex-row w-100 gap-4 border-top align-items-center fade-item" style="height: 55px;">
                        <p class="m-0 fs-5 fw-lighter">04</p>
                        <p class="m-0 fw-semibold">Your Global Snapshot: Get a quick, clear overview of your entire operation.</p>
                    </div>
                </div>

                <div class="align-content-center mb-3" style="height: 120px;">
                    <div>
                        <a class="css-lkib text-decoration-none rounded-5 fw-bolder text-black p-3" src="#">Discover More</a>
                    </div>
                </div>

            </div>

            <div class="css-igbn2 ">
                <img class="img-fluid rounded-5 fade-item" src="/media/banner/8c5a21adadebacbd69375684275fb89819b4d967.jpg" alt="four cylinders" />
            </div>
        </div>
    </div>
</section>

<hr id="specs" class="mt-5 w-100 mb-6" style="max-width: 1500px;" />

<div class="text-center" style="max-width: 1500px;">
    <label class="fs-6 text-dark-emphasis fade-item">Specs</label>
</div>
<div class="d-flex flex-column gap-2 text-center mb-7 fade-item" style="max-width: 1500px;">
    <div>
        <h1 class="fw-semibolder" style="font-size: clamp(3rem, 4vw, 4.4rem);">Why Choose Area?</h1>
    </div>
    <div>
        <p class="fw-light">
            You need a solution that keeps up. That’s why we developed Area. A developer-friendly approach to streamline your business.
        </p>
    </div>
    <div class="align-content-center mb-3" style="height: 120px;">
        <div>
            <a class="css-lkib text-decoration-none rounded-5 fw-bolder text-black p-3" src="#">Discover More</a>
        </div>
    </div>
</div>

<section class="mb-6">
    <div class="" style="max-width: 1500px; margin-bottom: 168px;">
        <div class="css-cont4 d-flex flex-row w-100 gap-3">
            <div class="w-100">
                <ul class="list-group css-liact rounded-4">
                    <li class="list-group-item text-center align-content-center" style="height: 94px;"><h1 class="fs-1 user-select-none">Area</h1></li>
                    <li class="list-group-item align-content-center ps-4">
                        <p class="d-flex flex-row align-items-center gap-3 m-2 text-wrap user-select-none">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                                <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0" />
                            </svg>
                            Ultra-fast browsing
                        </p>
                    </li>
                    <li class="list-group-item align-content-center ps-4">
                        <p class="d-flex flex-row align-items-center gap-3 m-2 text-wrap user-select-none">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                                <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0" />
                            </svg>
                            Advanced AI insights
                        </p>
                    </li>
                    <li class="list-group-item align-content-center ps-4">
                        <p class="d-flex flex-row align-items-center gap-3 m-2 text-wrap user-select-none">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                                <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0" />
                            </svg>
                            Seamless integration
                        </p>
                    </li>
                    <li class="list-group-item align-content-center ps-4">
                        <p class="d-flex flex-row align-items-center gap-3 m-2 text-wrap user-select-none">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                                <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0" />
                            </svg>
                            Advanced AI insights
                        </p>
                    </li>
                    <li class="list-group-item align-content-center ps-4">
                        <p class="d-flex flex-row align-items-center gap-3 m-2 text-wrap user-select-none">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                                <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0" />
                            </svg>
                            Ultra-fast browsing
                        </p>
                    </li>
                    <li class="list-group-item align-content-center ps-4">
                        <p class="d-flex flex-row align-items-center gap-3 m-2 text-wrap user-select-none">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                                <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0" />
                            </svg>
                            Full UTF-8 support
                        </p>
                    </li>
                </ul>
            </div>

            <div class="css-couall w-100">
                <ul class="list-group rounded-4 po">
                    <li class="list-group-item text-center align-content-center" style="height: 94px;"><h1 class="fs-1 user-select-none">WebSurge</h1></li>
                    <li class="list-group-item align-content-center ps-4">
                        <p class="d-flex flex-row align-items-center gap-3 m-2 text-wrap user-select-none">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                                <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0" />
                            </svg>
                            Fast browsing
                        </p>
                    </li>
                    <li class="list-group-item align-content-center ps-4">
                        <p class="d-flex flex-row align-items-center gap-3 m-2 text-wrap user-select-none">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                                <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0" />
                            </svg>
                            Basic AI recommendations
                        </p>
                    </li>
                    <li class="list-group-item align-content-center ps-4">
                        <p class="d-flex flex-row align-items-center gap-3 m-2 text-wrap user-select-none">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                                <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0" />
                            </svg>
                            Restricts customization
                        </p>
                    </li>
                    <li class="list-group-item align-content-center ps-4">
                        <p class="d-flex flex-row align-items-center gap-3 m-2 text-wrap user-select-none">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                                <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0" />
                            </svg>
                            Basic AI insights
                        </p>
                    </li>
                    <li class="list-group-item align-content-center ps-4">
                        <p class="d-flex flex-row align-items-center gap-3 m-2 text-wrap user-select-none">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                                <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0" />
                            </svg>
                            Fast browsing
                        </p>
                    </li>
                    <li class="list-group-item align-content-center ps-4">
                        <p class="d-flex flex-row align-items-center gap-3 m-2 text-wrap user-select-none">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                                <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0" />
                            </svg>
                            Potential display errors
                        </p>
                    </li>
                </ul>
            </div>

            <div class="css-couall w-100">
                <ul class="list-group rounded-4">
                    <li class="list-group-item text-center align-content-center" style="height: 94px;"><h1 class="fs-1 user-select-none">HyperView</h1></li>
                    <li class="list-group-item align-content-center ps-4">
                        <p class="d-flex flex-row align-items-center gap-3 m-2 text-wrap user-select-none">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                                <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0" />
                            </svg>
                            Moderate speeds
                        </p>
                    </li>
                    <li class="list-group-item align-content-center ps-4">
                        <p class="d-flex flex-row align-items-center gap-3 m-2 text-wrap user-select-none">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                                <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0" />
                            </svg>
                            No AI assistance
                        </p>
                    </li>
                    <li class="list-group-item align-content-center ps-4">
                        <p class="d-flex flex-row align-items-center gap-3 m-2 text-wrap user-select-none">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                                <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0" />
                            </svg>
                            Steep learning curve
                        </p>
                    </li>
                    <li class="list-group-item align-content-center ps-4">
                        <p class="d-flex flex-row align-items-center gap-3 m-2 text-wrap user-select-none">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                                <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0" />
                            </svg>
                            No AI assistance
                        </p>
                    </li>
                    <li class="list-group-item align-content-center ps-4">
                        <p class="d-flex flex-row align-items-center gap-3 m-2 text-wrap user-select-none">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                                <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0" />
                            </svg>
                            Moderate speeds
                        </p>
                    </li>
                    <li class="list-group-item align-content-center ps-4">
                        <p class="d-flex flex-row align-items-center gap-3 m-2 text-wrap user-select-none">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                                <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0" />
                            </svg>
                            Partial UTF-8 support
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="w-100">
        <div class="d-flex css-cont5" style="max-width: 1500px;">

            <div class="css-igbn3 mt-6 fade-item">
                <img class="img-fluid rounded-5" src="/media/banner/7d21c327f1e7740ce9c46cd595065dccfdcec99a.jpg" alt="four cylinders" />
            </div>
            <div class="css-coti2 d-flex border-top flex-column justify-content-center p-5" style="width: 50%;">
                <div>

                    <h1 class="fw-semibolder fs-1 text-capitalize text-wrap mb-6 fade-item" style="font-size: clamp(3rem, 4vw, 4.4rem);">
                        “I was skeptical, but Area has completely transformed the way I manage my business.
                        The data visualizations are so clear and intuitive, and the platform is so easy to use. I can't imagine running my company without it.”
                    </h1>

                    <div class="mb-5">
                        <p class="fw-normal mb-3 fs-6 fade-item">John Smith</p>
                        <p class="fw-lighter fs-6 fade-item">Head of Data</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<hr id="howTo" class="mt-5 css-hrbgc" style="max-width: 1500px;" />
<div class="css-textM w-100 d-flex justify-content-around h-100 align-items-center fade-item">
    <div>
        <h1 class="fw-semibolder fade-item" style="font-size: clamp(3rem, 4vw, 4.4rem);">Map Your Success</h1>
    </div>
    <div>
        <div>
            <a class="css-lkib text-decoration-none rounded-5 fw-bolder text-black p-3 fade-item" src="#">Discover More</a>
        </div>
    </div>
</div>

<hr class="css-hrbgc mb-6" style="max-width: 1500px;" />

<section class="mb-6">
    <div class="" style="max-width: 1500px;">
        <div class="css-ovwsc d-flex flex-row w-100 fade-item">
            <div class="d-flex flex-column justify-content-center p-3">
                <h2 class="fw-semibold text-light-emphasis mb-4" style="font-size: clamp(3.5rem, 4vw, 5rem);">01</h2>
                <div><p class="fs-5">Get Started</p></div>
                <div><p class="text-light-emphasis">With our intuitive setup, you’re up and running in minutes.</p></div>
            </div>

            <div class="d-flex flex-column justify-content-center p-3">
                <h2 class="fw-semibold text-light-emphasis mb-4" style="font-size: clamp(3.5rem, 4vw, 5rem);">02</h2>
                <div><p class="fs-5">Customize and Configure</p></div>
                <div><p class="text-light-emphasis">Adapt Area to your specific requirements and preferences.</p></div>
            </div>

            <div class="d-flex flex-column justify-content-center p-3">
                <h2 class="fw-semibold text-light-emphasis mb-4" style="font-size: clamp(3.5rem, 4vw, 5rem);">03</h2>
                <div><p class="fs-5">Get Started</p></div>
                <div><p class="text-light-emphasis">Make informed decisions to exceed your goals.</p></div>
            </div>

        </div>
    </div>
</section>

<div class="w-100 d-flex justify-content-center mb-7">
    <div class="css-igbn4 rounded-5 "></div>
</div>

<hr class="css-hrbgc mb-8" style="max-width: 1500px;" />

<div class="d-flex flex-column align-items-center gap-2 mb-7 fade-item">
    <div>
        <h1 class="fw-semibolder fade-item" style="font-size: clamp(3rem, 4vw, 4.4rem);">Connect with us</h1>
    </div>
    <div>
        <p class="fw-light">
            Schedule a quick call to learn how Area can turn your regional data into a powerful advantage.
        </p>
    </div>
    <a id="js-adp1" href="https://www.workana.com/freelancer/01946d384aea22d61a0c83543fda1a8c" class="css-nvdp text-center text-decoration-none align-content-center rounded-5 w-50">
        Learn More
        <svg xmlns="http://www.w3.org/2000/svg" width="11" height="13" fill="currentColor" class="bi bi-arrow-up-right p-0 m-0 mb-1" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0z" />
        </svg>
    </a>
</div>

<div class="w-100 d-flex justify-content-center mb-5">
    <hr class="w-100" style="max-width: 1500px;" />
</div>

<div class="d-flex flex-row gap-2 fade-item">
    <div class="p-2">
        <a href="#benefits" class="css-fota fw-bolder user-select-none text-decoration-none text-black">Benefits</a>
    </div>
    <div class="p-2">
        <a href="#specs" class="css-fota user-select-none fw-bolder text-decoration-none text-black">Specifications</a>
    </div>
    <div class="p-2">
        <a href="#howTo" class="css-fota user-select-none fw-bolder text-decoration-none text-black">How-to</a>
    </div>
</div>

<div class="w-100 mt-5 d-flex justify-content-center fade-item">
    <div class="w-75 d-flex flex-row justify-content-between">
        <div class="d-flex gap-5">
            <small class="">
                © Area.
            </small>
            
            <small>
                Developed by <a href="https://www.workana.com/freelancer/01946d384aea22d61a0c83543fda1a8c">Muniz</a>
            </small>
        </div>
        <small>
            Design by Figma
        </small>
    </div>
</div>