
.mb-6{ /*margim x 2 */
    margin-bottom: 63px;
}
.mb-7 { /*margim x 3 */
    margin-bottom: 84px;
}
.mb-8 { /*margim x 4 */
    margin-bottom: 105px;
}


html {
    font-size: 14px;
    scroll-behavior: smooth;
}


html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}


.content {
    margin-top: 78px;
    height: 100vh;
}

.main-cont {
    padding: 4% !important;
    padding-bottom: 0 !important;
}


.css-mnlk {
    background: #fefcfc78;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 2;
    min-width: 410px;
}


.css-nvdp {
    background-color: #485c11;
    color: white;
    width: 127px;
    height: 45px;
    cursor: pointer;
    user-select: none;
    transition: ease-in-out;
    transition-duration: 0.2s;
}
    .css-nvdp:hover {
        transform: scale(1.1);
    }

    .css-nvdp label {
        font-size: 15px;
    }



.offcanvas-top {
    height: 440px !important;
    transform: translateY(-150%) !important;
    transition: transform 0.2s ease-in-out !important;
    z-index: 2 !important;
}

.navbar {
    padding: 15px;
}

.offcanvas.show {
    transform: translateY(10%) !important;
}

.css-test {
    position: fixed;
    width: 100%;
}

@media (max-width: 799px) {
    main {
        margin-top: 78px;
    }

    .navbar {
        padding: 15px;
        background-color: white;
        z-index: 2;
    }

    .css-hda {
        position: fixed;
        width: 100%;
        border-radius: 0px 0px 23px 23px;
        -webkit-box-shadow: 0px -1px 6px 3px rgba(228, 228, 242, 1);
        -moz-box-shadow: 0px -1px 6px 3px rgba(228, 228, 242, 1);
        box-shadow: 0px -1px 6px 3px rgba(228, 228, 242, 1);
    }
}

.css-dic {
    height: 790px;
    justify-content: space-between;
   
}

.css-hti {
    font-family: "Noto Serif JP", serif;
    font-size: 135px;
}

h1 {
    font-family: "Noto Serif JP", serif;
    
}

.css-di2 {
    width: 90%;
    max-width: 1580px;
    background-color: #8e9c78;
    height: 362px;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    
}

.css-dit {
    background-color: black;
    position: absolute;
    width: 907px;
    height: 644px;
    bottom: -160px;
    
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: visible;
}

    .css-dit::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 25%;
        background: white;
    }

.css-ditc {
    background-image: url('/media/banner/2b19803f6c5e3c26b39f607fe129d1919300df81.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: initial;
    width: 877px;
    height: 624px;
    border-radius: 20px;
}

.css-hrbgc {
    color: #9c9999;
}

.css-grid1 {
    width: 100%;
}

.css-col2 {
    height: 180px;
}

.css-col1 img {
    width: 80px;
    object-fit: fill;
    height: 70px;
}


.css-igbn1 {
    max-width: 1500px;
}

    .css-igbn1 img {
        object-fit: cover;
        width: 100%;
        height: 620px;
    }

.css-igbn2 {
    max-width: 740px;
}

    .css-igbn2 img {
        object-fit: cover;
        width: 100%;
        height: 710px;
    }

.css-igbn3 {
    max-width: 740px;
}

    .css-igbn3 img {
        object-fit: cover;
        width: 100%;
        height: 839px;
    }


.css-igbn4 {
    width: 1550px;
    height: 830px;
    background-image: url('/media/banner/de5a74711b655d5394631256a2e65f4f4b7e3f42.jpg');
    background-size: cover;
}

.css-cont3 {
    flex-direction: row;
    justify-content: space-between;
    max-width: 1500px;
}




.css-lkib {
    background-color: #bfd1a0;
    transition: ease-in-out;
    transition-duration: 0.2s;
    user-select: none;
}

    .css-lkib:hover {
        background-color: #95a37e;
        color: white !important;
        cursor: pointer;
    }


.css-couall{
    max-width: 500px;
}

.list-group-item{
    z-index: -1;
    height: 80px;
}

.css-trsa {
    transform: scale(1.06);
    z-index: 1;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.css-liact {
    transform: scale(1.06);
    z-index: 1;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: ease-in;
    transition-duration: 0.2s;
}

.css-ovwsc{
    height: 280px;

}
.css-ovwsc div{
    width: 100%;
    min-width: 257px;
    
}

.css-fota{
    transition: ease-in-out;
    transition-duration: 0.2s;
}

.css-fota:hover {
    color: grey !important;
}


/* fade animation */

.fade-item{
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.8s ease, transform 0.8s ease;
    will-change: opacity, transform;
}

.fade-item.visible{
    opacity: 1;
    transform: translateY(0);
}







@media(max-width: 1550px) {
    .css-dic {
        height: 900px;
    }
}

@media(max-width: 1279px) {
    .css-dic {
        height: 800px;
    }

    .css-dit {
        width: 594px;
        height: 550px;
        bottom: -138px;
    }

    .css-di2 {
        height: 323px;
    }

    .css-ditc {
        width: 565px;
        height: 534px;
    }

    .css-hti {
        font-size: 110px;
    }

    .main-cont {
        padding: 2% !important;
    }

    .css-cont3 {
        flex-direction: column;
    }
    .css-cont5{
        flex-direction: column;
    }

    .css-hrbgc {
        width: 100% !important;
    }

    .css-coti1 {
        width: 100% !important;
    }
    .css-coti2 {
        width: 100% !important;
    }
    .css-igbn2
    {
        max-width: 1500px;
    }
    .css-igbn3{
        max-width: 1500px;
    }

    .css-coti2{
        margin-top: 100px;
        
    }

    .css-coti2 {
        height: 500px;
    }

    .css-igbn4 {
        height: 665px;
    }

}

@media(max-width: 993px) {

    .css-dic {
        height: 860px;
    }
}

@media(max-width: 799px) {
    .css-di1 {
        margin-top: 2% !important;
    }

    .css-hti {
        font-size: 70px;
    }

    .css-dic {
        height: 580px;
    }

    .css-dit {
        width: 300px;
        bottom: -137px;
    }

    .css-ditc {
        background-image: url('/media/banner/3be40f5cedc436e558720fb4cc391a78df9b6292.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: initial;
        width: 280px;
        height: 539px;
        display: flex;
        justify-content: center;
    }

    .css-ditci {
        background-image: url('/media/icons/Design sem nome(1).png');
        background-size: cover;
        width: 100%;
        height: 40px;
        border-radius: 30px;
    }

        .css-ditci div {
            width: 15px;
            height: 15px;
        }

    .css-ovwsc{
        overflow-x: scroll;
        width: 600px;
    }

    .css-igbn4 {
        height: 600px;
    }
}

@media(max-width: 560px) {
    .css-dic {
        height: 650px;
    }
}

